.password-field {
  position: relative;
  display: flex;
  align-items: center;
}

.password-field .custom-input {
  width: 100%;
  padding-right: 38px; /* laisse la place pour l'icône */
}

.pass-toggle-btn {
  background: none;
  border: none;
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  padding: 2px;
  height: 24px;
  display: flex;
  align-items: center;
}

.pass-toggle-btn:focus {
  outline: 2px solid #48c6ef;
}
